question's backup

# Backend
# dependencies
/server/node_modules
# production
/server/config.env

# Frontend
# dependencies
/testtaker/node_modules
# production
/testtaker/build
# production
/testtaker/.env
